body {

    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: hsl(199, 46%, 66%);
    font-size: 36px;
    margin-bottom: 20px;
}


p {
    font-size: 18px;
    color: hsl(200, 26%, 30%);
    line-height: 1.6;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    border-radius: 10px;
    border: 10px solid hsl(199, 36%, 54%);
}
   
a {
    color: hsl(199, 36%, 54%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}